<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <title> SoundBitd </title>
    <meta name="viewport" content="width-device-width, user-scalable-yes,initial-scale=1.0,maximum-scale=3.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/dc4f8e5863.js"></script>
    <link rel="stylesheet" href="register.component.css">
    <link rel="icon" href="../../../assets/images/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">


</head>

<body>


    <form class="formulario">

        <br>

        <div class="logo">
            <img src="../../../assets/images/logo.png">
        </div> <br>

        <span>Registrate</span>


        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre Completo">
            </div>
            <br>
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo Electronico">
            </div>
            <br>
            <div class="input-contenedor">
                <i class="fas fa-lock icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <br>

            <input type="submit" value="Registrate" class="button">
            <br>
            <p> Al registrarte, aceptas nuestras condiciones de uso y politica de privacidad.</p>
            <p> ¿Ya tienes una cuenta? <a class="link" href="../login/login.component.html"> Iniciar Sesion </a></p>
        </div>
    </form>

</body>

</html>